<%- include('partials/header') -%>
 <!-- Image Banner -->
 <img src="imgs/community-01.jpg"> 
<!-- Public Posts - All Users -->

<ul>
  <div class="lg:flex flex-row flex-wrap">
<% for(var i=0; i<entries.length; i++) {%>
<div class="card w-fit bg-primary-content text-neutral my-4 mx-4 lg:w-96">
  <div class="card-body">
    <span><%=entries[i].createdAt.toDateString() %></span>
    <h2 class="card-title"><%= entries[i].title.substring(0, 20)+"..."%></h2>
    <p><%= entries[i].body.substring(0, 50)+"..."%></p>
    <div class="card-actions justify-end">
      <button class="btn"><a href="/entries/<%= entries[i]._id%>">Read More</a></button>
    </div>
  </div>
</div>
<% } %>
</div>
</ul>
</div>
</div>








<%- include('partials/footer') -%>