<%- include('partials/header') -%>

 <!-- Image Banner -->
<img src="/imgs/dashboard-01.jpg" class="w-screen"> 
<!-- Screen Height -->
<div class="min-h-screen">
<!-- User Profile Grid -->
<div class="flex flex-col justify-center lg:flex-row">
<div class="card w-72 bg-primary-content text-neutral shadow-xl mx-5 my-5 lg:w-72" data-name='<%=user.user%>' data-id='<%=user._id%>'>
  <figure class="px-10 pt-10">
    <img src="<%= user.img %>" alt="Profile Image" class="rounded-xl" />
  </figure>
  <div class="card-body items-center text-center">
    <h2 class="card-title"><%= user.userName%></h2>
    <div class="card-actions">
      <% if(user._id == userId) {%>
        <form action="/addProfileImg?_method=PUT" enctype="multipart/form-data" method="POST">
          <div class="row">
            <label for="imgUpload" class="form-label">Change Photo: </label>
            <input type="file" class="file-input file-input-bordered file-input-primary w-full max-w-xs my-2" id="imageUpload" name="file">
          </div>
          <button type="submit" class="btn btn-neutral text-neutral my-2" value="Upload">Submit</button>
      </form>
        <% } %>
    </div>
  </div>
</div>
<!-- Running Journal -->
<!--If entries add here -->
<div class="card w-fit bg-base-100 shadow-xl mx-5 my-5">
  <div class="card-body">
    <h2 class="card-title"><%= user.userName %>'s Running Journal Entries</h2>
    <div class="card-actions justify-start">
      <div class="col-8">
        <div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Status</th>
        <th><span class="fa fa-trash text-primary"></span></th>
      </tr>
    </thead>
    <tbody>
      <!-- rows -->
      <% entries.forEach(el => { %>
      <tr data-name='<%=el.user%>' data-id='<%=el._id%>'>
        <td><%=el.createdAt.toDateString() %></td>
        <td><a href="/entries/<%= el._id%>"><%=el.title.substring(0, 20)+"..."%></td>
        <td><%=el.status %></td>
        <td><form
          action="/entries/deleteEntry/<%= el._id%>?_method=DELETE"
          method="POST"
        >
          <button class="text-primary fa fa-trash" type="submit"></button>
        </form></td>
      </tr>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
</div>
</div>
</div>
</div>
<!-- Races  -->
<div class="card w-fit bg-base-100 shadow-xl mx-5 my-5">
  <div class="card-body">
    <h2 class="card-title"><%= user.userName%>'s Races</h2>
    <div class="card-actions justify-start">
      <div class="col-8">
        <div class="overflow-x-auto">
          <table class="table w-full">
          <thead>
            <tr>
              <th>Race Name</th>
              <th>Date</th>
              <th><span class="fa fa-trash text-primary"></span></th>
            </tr>
          </thead>
            <tbody>
            <% races.forEach(el => { %>
              <tr data-name='<%=el.user%>' data-id='<%=el._id%>'>
                <td><%=el.race %></td>
                <td>
                <time datetime="<%=new Date(el.raceDate).toDateString()%>"><%= new Date(el.raceDate).toLocaleDateString('en', { year: 'numeric' , month: 'short' , day: '2-digit' }) %></time>
               </span>
                <td> <form action="/race/deleteRACE/<%= el._id%>?_method=DELETE" method="POST">
                  <button class="text-primary fa fa-trash" type="submit"></button>
              </form>
              </td>
              </tr>
            <% }) %>
            </tbody>
          </table>
    <!-- Goals -->
    <div class="my-4">
    <h2 class="card-title my-2"><%= user.userName%>'s Goals</h2>
    <table class="table w-full">
      <thead>
        <tr>
          <th>Date Added</th>
          <th>Goal</th>
          <th><span class="text-primary fa fa-trash"></span></th>
        </tr>
      </thead>
        <tbody>
          <% goals.forEach(el => { %>
          <tr data-name='<%=el.user%>' data-id='<%=el._id%>'>
            <td><%=el.createdAt.toDateString() %></td>
            <td class ='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.goal %></td>
            <td><form action="/goal/deleteGoal/<%= el._id%>?_method=DELETE" method="POST">
              <button class="text-primary fa fa-trash" type="submit"></button>
          </form>
        </td>
          </tr>
        <% }) %>
        </tbody>
      </table>
      </div>
   </div>
   </div>
   </div>
   </div>
   </div>
</div>
</div> 
<%- include('partials/footer') -%>