<%- include('partials/header') -%>
<!-- Image Banner -->
<img src="/imgs/dashboard-01.jpg" class="w-screen"> 
<!-- Screen Height -->
<div class="min-h-screen bg-base-100">
<div class="text-black mx-2 lg:flex-row mx-20">
<!-- Entry Section -->
  <div class="my-4 mx-2 py-4">
    <h2 class="text-center text-xl font-bold"><%= entry.title %></h2>
  </div>
    <div class="flex flex-row mr-2 my-2">
      <h4 class="font-bold mx-2">Runner:</h4> <a href="/profile/<%=entry.user._id%>"> <%= entry.userName %></a>
    </div>
    <div class="flex flex-row mr-2 my-2">
      <h4 class="font-bold mx-2">Type of Run:</h4> <%= entry.runType %>
    </div>
    <div class="flex flex-row mr-2 my-2">
      <h4 class="font-bold mx-2">Distance:</h4> <%= entry.distance %>
    </div>
    <div class="flex flex-row mr-2 my-2">
      <h4 class="font-bold mx-2">Duration:</h4> <%= entry.duration %>
    </div>
    <div class="flex flex-col mr-2 my-2">
      <h4 class="font-bold mx-2">How was your run? How did you feel physically? Emotionally? What did you think about?</h4>
      <p class="mx-2"><%= entry.body %></p>
    </div>
    <div class="flex flex-col mr-2 my-2">
      <h4 class="font-bold mx-2">Additional notes about this run (Clothing, Weather, etc.):</h4>
    <p class="mx-2"><%= entry.thoughts %></p>
    </div>
  <!-- Delete Post -->
  <div class="flex flex-row mx-2">
    <%if(entry.user == user.id){ %>
    <form
        action="/entries/deleteEntry/<%= entry._id%>?_method=DELETE"
        method="POST"
      >
      <button class="btn btn-primary border-primary text-primary" type="submit">Delete Entry</button>
    </form>
        <% } %>
  </div>
  </div>
<!-- Comment Form Section -->
<div class="text-base-100 mx-4 lg:mx-20">
  <h4 class="font-bold mx-2">Encouragement</h4>
  <div class="my-2 text-black">
      <form action="/comment/createComment/<%= entry._id%>" method="POST">
            <input type="text" id="comment" name="comment" placeholder="Comment" class="input input-bordered input-primary w-full max-w-xs">
          </div>
          <button type="submit" class="btn btn-primary border-primary text-primary my-2">Submit</button>
        </form>
    </div>
<!-- Display Comments-->
<div class="text-black mx-4 lg:mx-20">
    <ul>
      <li class="text-black"><% for(var i=0; i<comments.length; i++) {%>
<!--Add user attribution-->
        <div class="flex flex-row">
      <span class="text-black"><%= comments[i].userName%>: <%= comments[i].comment%> </span>
<!--If comment was created by current user, then show delete button-->
      <%if(comments[i].user == user.id){ %>
      <form
         action="/comment/deleteComment/<%=entry._id%>/<%= comments[i]._id %>?_method=DELETE"
         method="POST"
        >
          <button type="submit" class="btn btn-primary btn-sm border-primary text-primary fa fa-trash ml-2"></button>
      </form>
      <%}%>   
    </div>     
    </li>
        <% } %>
    </ul>
</div>
</div>
</div>
<%- include('partials/footer') -%>
